{% extends 'admin.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Page event</h1>
<p>Name : {{ events.nom }}</p>
<p>place : {{ events.place }}</p>
<p>idevent : {{ events.idevent }}</p>

<p>Price : {{ events.price }}</p>
{% endblock %}